:root {
  --blue: #0fbaa8;
  --light-blue: #0fbaa8b3;
  --gray20: #333333;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Forms */
label {
  color: #000000;
  text-align: left;
  margin-bottom: 0.4rem;
  margin-top: 1.2rem;
  float: left;
}

.form-signin,
.form-consent {
  margin-top: 3rem;
  text-align: center;
  width: 50vw;
}

.form-control {
  border-radius: 0;
  border: solid 0.5px #b0b0b0;
  height: 44px;
}

label.form-check-label {
  padding-top: 0;
  color: inherit;
}

.form-check-inline .form-check-input {
  margin-top: 0.3rem;
}

.form-check-inline {
  display: flex;
  padding-left: 0;
  margin-right: 0.75rem;
  align-items: flex-start;
}

.alert {
  border-radius: 0;
}

.alert-danger {
  color: #f00000;
  background-color: rgba(255, 0, 0, 0.15);
  border: solid 0.5px #ff0000;
  font-weight: 500;
}

/* Buttons */
.btn {
  border-radius: 4px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2px;
  font-stretch: normal;
  font-style: normal;
  box-sizing: border-box;
  white-space: nowrap;
  border: none;
}

.btn-primary {
  background-color: var(--blue);
}

.btn-primary:hover {
  background-color: var(--blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25) !important;
}

.btn-primary:active {
  background-color: var(--blue) !important;
}

.btn-primary:disabled {
  background-color: var(--light-blue);
  cursor: not-allowed;
}

.btn-lg {
  height: 50px;
  font-size: 1rem;
  padding: 0 25px;
  width: 238px;
  max-width: 100%;
}

/* Responsive Image */
.img-max {
  max-width: 400px;
  width: 100%;
}

.img-xs-max {
  max-width: 50px;
  width: 100%;
}
