html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding-bottom: 40px;
  background-color: #333333;
  font-family: "Raleway", sans-serif;
}

label {
  color: #ffffff;
  text-align: left;
  padding-top: 25px;
  font-size: larger;
}

label.form-check-label {
  padding-top: 0;
  color: inherit;
  font-size: large;
}

.form-control {
  border-radius: 0;
  border: 0;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-consent {
  color: #fff;
  font-size: large;
}

.alert {
  border-radius: 0;
}

.alert-danger {
  color: #f00000;
  background-color: #ffb3b3;
  border-color: #ff7a7a;
  font-weight: 500;
}

/* Buttons */
.btn-primary {
  background-color: #0097a7;
  border: 3px solid #0097a7;
  border-radius: 0;
}

.btn-primary:hover,
.btn-primary:disabled {
  background-color: #66c1ca;
  border: 3px solid #66c1ca;
}

.btn-primary:disabled {
  cursor: not-allowed;
}

.btn-secondary {
  background-color: #333333;
  border: 3px solid #0097a7;
  border-radius: 0;
}

.btn-lg {
  font-size: 18px;
}

.btn-link {
  display: block;
  padding: 0;
  border: none;
  color: inherit;
}

.btn-link:hover {
  text-decoration: none;
  color: #0097a7;
}

.btn-link:focus {
  text-decoration: none;
}

/* Bootstrap/Atomic Classes */
.pr-6 {
  padding-right: 4.25rem;
}

.mt-6 {
  margin-top: 4.25rem;
}

.mb-6 {
  margin-bottom: 4.25rem;
}

.navbar {
  display: block;
  color: #fff;
}

.img-max {
  max-width: 400px;
  width: 100%;
}

.img-xs-max {
  max-width: 50px;
  width: 100%;
}
