# vscode settings
.vscode/

# python artifacts
**/*.py[abc]
**/__pycache__

# pytest artifacts
**/.pytest_cache/
**/.coverage

# sphinx artifacts
**/docs/build

# miscellaneous
**.DS_Store
.env

# neo4j artifacts
**/neo4j-dev

private
public
