[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"
docker = "*"
pytest = "*"
pytest-cov = "*"
expects = "*"
doc8 = "*"
pytest-flask = "*"
pytest-mock = "*"

[packages]
flask = "<2"
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
authlib = "*"
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
bcrypt = "*"
flask-cors = "*"
flask-wtf = "*"
gevent = "*"
flask-script = "*"
elastic-apm = "*"
blinker = "*"
psutil = "*"
neo4j = "*"
flask-injector = "*"
sendgrid = "*"
pyjwt = "*"

[requires]
python_version = "3.8"
