[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
autopep8 = "*"
docker = "*"
pytest = "*"
pytest-cov = "*"
expects = "*"
sphinx = "*"

[packages]
flask = "*"
flask-restful = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
authlib = "*"
psycopg2-binary = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"

[requires]
python_version = "3.7"
